/* Inventory Component */
.inventory-highest-section {
  margin: 2rem 1rem 2rem 1rem;
  padding: 2rem 2rem 2rem 2rem;
  border: 1px solid #8f8f8f;
  border-radius: 50px;
}

.product-item {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #00a9a5;
  border-radius: 5px;
  font-size: large;
  color: whitesmoke;
}

.inventory-section {
}
